<div class="item1">
    <h1>Previous Post:</h1>
    <hr>
    <div class="card">
        <div class="card-title">Date Of Post</div>
        <hr>
        <div class="card-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque adipisci vel
                Vitae, hic eveniet in architecto voluptatem perferendis dignissimos eos sed deserunt iste quis?
            </p>
        </div>
    </div>
</div>