

<div class="item3">
	<h1>Is It True Or Are They Lying?</h1>
	<hr>
	<div class="card">
		<div class="card-body confession-container">	
			<div class="confession-list">
				
			</div>
		</div>
		<div class="card-footer">
			{{!-- <button type="button" class="btn btn-primary confession-guess" value="1">True</button> ||
			<button type="button" class="btn btn-danger confession-guess" value="0"><a href="">False</a> </button> --}}
		</div>
	</div>

<<<<<<< HEAD
	
</div>
=======
{{!-- 
	true false modal --}}
>>>>>>> 54e5ec14a06d9e0a9879c155c1627d54d1c99aa1
