

<div class="item3">
	<h1>Is It True Or Are They Lying?</h1>
	<hr>
	<div class="card">
		<div class="card-body confession-container">	
			<div class="confession-list">
				
			</div>
		</div>
		<div class="card-footer">
			{{!-- <button type="button" class="btn btn-primary confession-guess" value="1">True</button> ||
			<button type="button" class="btn btn-danger confession-guess" value="0"><a href="">False</a> </button> --}}
		</div>
	</div>

	
</div>
<div class="modal fade bd-false-modal-lg" id="falseModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<h3>Fooled Ya!</h3>
				<img class="minibox" src="https://media.giphy.com/media/wImaEF4evLXqQASHoS/giphy.gif"src="https://media.giphy.com/media/PF3MIgRTq3bVu/giphy.gif" alt="GOT Confess Lady">
				
      
    </div>
  </div>
</div>

<div class="modal fade bd-true-modal-sm" id="trueModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<h3>You Got it! Good Job!</h3>
		<img class="minibox" src="https://media.giphy.com/media/wCG00aS1PTQys/giphy.gif" alt="GOT Confess Lady">

    </div>
  </div>
</div>
