<div class="item3">
			<h1>Is It True Or Are They Lying?</h1>
			<hr>
			<div class="card">
				<div class="card-body">
					Here Can go the body of the card
				</div>
				<div class="card-footer">
					<button type="button" class="btn btn-primary">True</button> ||
					<button type="button" class="btn btn-danger"> False </button>
				</div>
			</div>
		</div>