

<div class="item3">
	<h1>Is It True Or Are They Lying?</h1>
	<hr>
	<div class="card">
		<div class="card-body confession-container">	
			<div class="confession-list">
				
			</div>
		</div>
		<div class="card-footer">
			{{!-- <button type="button" class="btn btn-primary confession-guess" value="1">True</button> ||
			<button type="button" class="btn btn-danger confession-guess" value="0"><a href="">False</a> </button> --}}
		</div>
	</div>

	
</div>
<div class="modal fade bd-false-modal-lg" id="falseModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<h3>That story is a true confession.</h3>
				<img class="minibox" src="https://media.giphy.com/media/m6tmCnGCNvTby/giphy.gif" alt="GOT Confess Lady">
      
    </div>
  </div>
</div>

<div class="modal fade bd-true-modal-sm" id="trueModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
			<h3>That story is false a confession.</h3>
			<img class="minibox" src="https://media1.tenor.com/images/c6c50a275736a9c45c6003fd3b908be3/tenor.gif?itemid=4361045" alt="GOT Confess Lady">

    </div>
  </div>
</div>
