<div class="container row">

	<!-- Modal with form for posts -->

	<div class="modal animated fadeInDown slower" id="modalPostForm" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center">Write a confession. It could be made up or true. Others will try and
						figure
						out if it's real or not.</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="confess-submit">
						<div class="form-group">
							<label for="message-text" class="col-form-label">
								<h5>Confess My Child: {{userName}}</h5>
							</label>
							<textarea class="form-control" id="message-text" placeholdder="Write your confession here"
								required></textarea>
						</div>
						<label class="radio-inline">
							<h5>Is this confession true or false?</h5>
							<input type="radio" class="confessSubmitTF" name="inlineRadioOptions" id="inlineRadio1"
								value="1" checked> True
						</label>
						<label class="radio-inline">
							<input type="radio" class="confessSubmitTF" name="inlineRadioOptions" id="inlineRadio2"
								value="0"> False
						</label>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-warning submit">Save changes</button>
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	{{# if loggedin}}
	    <h1 class="animated fadeIn slow">Welcome, my child: {{userName}}</h1>
	{{else }}
	    <h1>Are you ready to Confess?</h1>
	{{/if}}
	<div class="grid-container">
		<div class="item2">
			<a href="" class="btn btn-default btn-rounded my-3 animated fadeInLeft" data-toggle="modal" data-target="#modalPostForm">
				<img class="minibox" src="/assets/images/confessGot.jpg" alt="GOT Confess Lady">
				<h3>Click to Confess</h3>
			</a>
		</div>
		{{> trueFalse}}
		{{#each data}}
		{{this.id}}
		{{/each}}

	</div>
</div>