<div class="container row">
            <div class="jumbotron col-sm-4 pull-center animated rollIn">
                <form>
                    <div>
                        <label>Username:</label>
                        <input type="text" name="username" id="loginUserName"/>
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" name="password" id="loginPassword"/>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Log In" id="loginSubmit"/>
                    </div>
                </form>                  
            </div>          
        </div>